<launch>
  <!-- Last resort: subscribe an existing ROS Image and encode H264/RTP.
       Does not open the camera. Preferred: native_v4l2_media.launch. -->
  <arg name="image_topic" default="/camera/color/image_raw" />
  <arg name="source_id" default="color" />
  <arg name="frame_id" default="camera_color_optical_frame" />
  <arg name="width" default="640" />
  <arg name="height" default="480" />
  <arg name="fps" default="30" />
  <arg name="rtp_host" default="127.0.0.1" />
  <arg name="rtp_port" default="5004" />
  <arg name="control_socket" default="/tmp/xgc2/media/color.sock" />
  <arg name="h264_encoder" default="omxh264enc" />
  <arg name="bitrate" default="2500000" />

  <node pkg="xgc2_camera_driver" type="xgc_ros_image_rtp" name="xgc_ros_image_rtp" output="screen">
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="source_id" value="$(arg source_id)" />
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="width" value="$(arg width)" />
    <param name="height" value="$(arg height)" />
    <param name="fps" value="$(arg fps)" />
    <param name="rtp_host" value="$(arg rtp_host)" />
    <param name="rtp_port" value="$(arg rtp_port)" />
    <param name="control_socket" value="$(arg control_socket)" />
    <param name="h264_encoder" value="$(arg h264_encoder)" />
    <param name="bitrate" value="$(arg bitrate)" />
  </node>
</launch>
